html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/c9ed11742c.js' crossorigin='anonymous')
        link(rel='stylesheet' href='stylesheets/style.css')
        include head
    body
        .container
            .row
                .col
                     p.h1.text-center.text-decoration-underline Our contacts
            .row
                .col
                    p.h3 Social media
                    p Facebook
                    p Instagram
                    p Twitter
                .col
                    p.h3 Other contacts
                    p +000 42069024
                    p joescarshop@mail
                    p joe@mail
                .col
                    p.h3 Our location
                    p 127. street, Joestown, Chungustan
                    p.h3 Opening times
                    p 9:00 : 23:00
    footer
        include footer