footer#footer.mt-auto.fixed-bottom
      .row
        .col.border-end
          p.text-center.lead.quote-text
            | Joe's car repair
        .col.border-end
          p.text-center.lead.quote-text
            | Copyright © 2021 Joe's Workshop
        .col.border-end
          p.text-center.lead.quote-text
            | Our social media
          #social-media.col
            a(href='#')
              i.fab.fa-facebook-square.icons
            a(href='#')
              i.fab.fa-instagram-square
            a(href='#')
              i.fab.fa-twitter-square