.row.sticky-top
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href='/')
        img(src='images/logo.png' width='50' ,='' height='44')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='/') Home
          li.nav-item
            a.nav-link(href='/about') About us
          li.nav-item
            a.nav-link(href='/contact') Contact us
        li#login-nav.nav-item.d-flex
          a.nav-link(href='/login') Login
        li#login-nav.nav-item.d-flex
          a.nav-link(href='/register') Register

